[Desktop Entry]
Type=Application
Name=Qmidiroute
GenericName=qmidiroute
Comment=Midi Router
Icon=qmidiroute_32x32
TryExec=qmidiroute
Exec=qmidiroute
Terminal=false
Categories=AudioVideo;AudioVideoEditing;Music;
